body {
    background-color: #ddd;
    font-family: 'PT Sans', sans-serif;
    /* font-size: 80%; */
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 100px;
}

.welcome,
.lyrics {
  padding: 10px;
  border-style: groove;
  border-radius: 2px;
  border-color: orange;
}

.welcome {
  text-align: center;
  height: 500px;
}

p {
    font-weight: lighter;
}

.blue_text_shadow {
  text-shadow: blue 0 -2px;
}

#ohhellothere {
  min-height: 100vh;
}

#lyrics {
  background-color: grey;
}

dt {
  font-size: 130%;
}

nav {
  border-style: solid;
  border-radius: 2px;
  border-color: #aaa;
}

a {
  color: #a46c20;
}

#test {
    width: 100px;
    height: 100px;
    position: relative;
    top: 1000px;
    background: green;
}


.partitioned {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
}


.part {
    display: inline-block;
    -webkit-flex: 12 1 0;
    -moz-flex: 12 1 0;
    -ms-flex: 12 1 0;
    flex: 12 1 0;
    padding: 4px;
}

.partonethird {
    display: inline-block;
    -webkit-flex: 4 1 0;
    -moz-flex: 4 1 0;
    -ms-flex: 4 1 0;
    flex: 4 1 0;
    padding: 4px;
}

.btn {
    color: #fff;
    background-color: #468ec2;
    border-color: black;
    border: 1px solid transparent;
    border-radius: 4px;
    height: 1.5em;
    width: 100%;
    padding: 1px;
    text-align: center;
    display: block;
}

.btn:hover, .btn:focus, .btn:active {
    color: #fff;
    background-color: #276f79;
    border-color: green;
    text-decoration: none;
}

.btn img {
    height: 1.25em;
}
